.discoverer-pagination {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  justify-content: center;
  margin: 5rem auto 3rem;

  ul {
    display: flex;
    flex-direction: row;
    column-gap: 0.75rem;
    list-style-type: none;
  }

  /* if button reset styles */
  button {
    min-width: auto;
    border: unset;
    padding: initial;
  }

  &__arrow,
  &__number {
    color: var(--color-font);
    background-color: var(--color-grey);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 2.8rem;
    width: 2.8rem;
    line-height: 1.8;
    text-align: center;
    text-decoration: none;
    transition: background-color linear .2s, color linear .2s;
    border-radius: 0.4rem;

    &:hover {
      background-color: var(--color-grey-2);
      text-decoration: none;
    }

    &:focus-visible {
      outline-offset: 0.1rem;
    }

    &--current {
      background-color: var(--color-font);
      color: var(--color-white);

      &:hover,
      &:focus {
        background-color: var(--color-font);
        color: var(--color-white);
      }
    }

    &--disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  &__dots {
    color: var(--color-grey-2);
    letter-spacing: 0.2em;
    font-weight: 700;
  }
}
