.discoverer-form {
  margin-top: 5rem;

  ul {
    list-style-type: none;
    padding: 0;

    input[type=checkbox] {
      margin-right: 1rem;
    }

    input[type=radio] {
      margin-right: 1rem;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .fieldholder-small {
    display: flex;
    flex-direction: column;
  }

  .fieldgroup {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      gap: 5.5rem;
    }
  }

  .fieldgroup-field {
    flex: 1 1 0px;
  }

  .btn-toolbar {
    margin-top: 2rem;
  }

  select,
  textarea,
  input {
    font-size: 1.6rem;
    border: 0.1rem solid var(--color-border);
    border-radius: 0.4rem;
    max-width: 100%;

    &:invalid {
      border-color: var(--color-red-light);
    }

    &:valid {
      border-color: var(--color-border);
    }
  }

  select,
  textarea {
    padding: 1rem;
  }

  input {
    padding: .6rem 1rem;
    accent-color: var(--color-accent);
  }

  select {
    min-width: 20rem;
  }

  label {
    border: 0;
  }
}
