@use 'sass:map';
@use 'sass:math';

/**
 * Media queries
 */
@mixin media-breakpoint-up($name) {
  $min: map.get($breakpoints, $name); // stylelint-disable-line

  @media (min-width: $min) {
    @content;
  }
}

/* This should only need to be used in edge case scenarios */
@mixin media-breakpoint-down($name) {
  $max: map.get($breakpoints, $name); // stylelint-disable-line

  @media (max-width: ($max - 1px)) { // stylelint-disable-line unit-blacklist, scss/media-feature-value-dollar-variable
    @content;
  }
}

/**
 * Only display content to screen readers
*/
@mixin sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 0.1rem;
  margin: -0.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0.1rem;
}


/**
 * Used in conjunction with `.sr-only` to only display content when it is focused.
 */
@mixin sr-only-focusable() {
  &:active,
  &:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    position: static;
    white-space: normal;
    width: auto;
  }
}

@mixin focus-outline($offset: 0.4rem) {
  border-radius: 0.1rem;
  text-decoration: none;
  outline: 0.1rem dashed var(--outline-color);
  outline-offset: $offset;
}

/**
 * Adds underline for links
 *
 * @param {Color} $color
 *
 * @example
 *   a {
 *     @include underline();
 *   }
 */
@mixin underline($color: var(--link-color)) {
  background-image: linear-gradient($color, $color);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% var(--underline-height);
  transition: background-size 0.3s;
  padding-bottom: 0.1em;
}

/**
 * Remove underlines completely
 */
@mixin remove-underline() {
  background: none;
  padding-bottom: 0;

  &:hover {
    background: none;
  }
}

/**
 * Reset styles applied to <button> for icons such as those in the header
 */
@mixin button-reset() {
  background: none;
  border: 0;
  border-radius: 0;
  min-width: auto;
  padding: 0;

  &:hover,
  &:focus,
  &[disabled]:hover,
  &[disabled]:focus {
    background: none;
    border: 0;
  }
}
